.font-padrao { font-family: 'simplificasimplifica'; }

.tamanho14 {font-size:14px; }
.tamanho16 {font-size:16px; }
.tamanho18 {font-size:18px; }
.tamanho20 {font-size:20px; }

.cor-branca {color:#FFFFFF !important;}

.container-topo {
	background:#f0eded;
	width:100%;
	height:104px;
	float:left;
}

@media (max-width: 320px) {
	.container-topo {
		background:#f0eded;
		width:100%;
		height:auto;
		float:left;
	}
	
	.logo-pizzeria {
		width:100%;
		text-align:center;
		margin:10px 0;
	}
	
	.fone-delivery {
		width:100%;
		text-align:center;
		margin:10px 0;	
	}
	
	.fone-delivery h3 {
		font-size:26px !important;
		color:#4ba628;
		font-family:Georgia, Constantia, "Lucida Bright", "DejaVu Serif", serif;
		text-align:center;
		margin:10px 0 -10px 0 !important;
		padding:0 !important;
	}
	
	.peca-online {
		width:100%;
		text-align:center;
		margin:0 0 10px 0;
	}	
}

.logo-pizzeria {
	float:left;
	margin-left:0 !important;
	margin-right:30px;
	margin-top:5px;
}

.fone-delivery h3 {
	font-size:36px;
	color:#4ba628;
	font-family:Georgia, Constantia, "Lucida Bright", "DejaVu Serif", serif;
	float:left;
	margin:30px 35px;
}

.peca-online {
	float:left;
	margin-right:30px;
	margin-top:30px;
}


.menu-container {
	background:#f04e23;
	width:100%;
	height:56px;
	float:left;
	border-bottom:6px  #ba3b1a solid;
	font-family: 'simplificasimplifica';
	font-size:24px;
}

.navbar-nav li.active a {
	background:#ba3b1a !important;
	color:#FFFFFF !important;
}

.navbar-nav li.active a:hover, .navbar-nav li a:hover {
	background:#ba3b1a !important;
	color:#FFFFFF !important;
}

@media (max-width: 320px) {
	#bs-example-navbar-collapse-1 {
		background-color:#ba3b1a;
		padding-left:0 !important;
		text-indent:10px;
	}
	#bs-example-navbar-collapse-1 li {
		border-bottom:1px solid #ffffff;
	}
}

#bs-example-navbar-collapse-1 {
	width:100%;
	padding-left:140px;
	position:absolute;
	z-index:9999;
	border-top:none !important;
}

.container-slider {
	width:100%;
	height:420px;
	background:url(../imgs/img-banner-slider.jpg);
	float:left;
	background-position:center;
}

@media (max-width: 320px) {
	.container-corpo1 {
		width:100%;
		height:auto !important;
		background:#252525;
	}
}

.container-corpo1 {
	width:100%;
	height:450px;
	background:#252525;
	float:left;	
}

.mais-vendidas1 {
	margin-top:40px;	
	margin-bottom:30px;
}

.container-corpo2 {
	width:100%;
	height:350px;
	background:#ebebeb;
	float:left;	
}

.bloco-institucional {
	width:500px;
	float:left;
	margin-top:20px;
}

.bloco-institucional h1 {
	color:#4ba628;
	font-weight:bold;
}

.bloco-institucional h2 a {
	color:#FFFFFF;
	font-weight:bold;
	background:#4ba628;
	width:auto;
	padding:10px;
	text-decoration:none;
	border-radius:6px;
}

.bloco-institucional h2 a:hover {
	background:#37791d;
}

.imagem-institucional {
	float:right;	
	margin-top:20px;	
}

.container-rodape {
	width:100%;
	height:330px;
	background:#cccccc;
	float:left;		
}

.container-rodape h1 {
	color:#4ba628;
	font-weight:bold;
}

.loop-depoimentos {
	width:300px;
	height:auto;
	float:left;	
}

.loop-depoimentos img {
	float:left;
	margin-right:20px;
	margin-bottom:20px;	
}

.data-posts {
	background:#4ba628;
	color:#FFFFFF !important;
	width:60px;
	height:60px;
	border-radius:6px;
	float:left;
	text-align:center;
	padding:10px;
	margin:0 15px 0 0;
}

.loop-posts {
	width:300px;
	float:left;
	margin-bottom:10px;	
}

.loop-posts p {
	line-height:20px;	
}

.fb-like-box {
    background:#FFFFFF;   
}

.rodape-fim {
    background:#ba3b1a;
    color:#FFFFFF;
    height:50px;
    text-align:center;
    float:left;
    width:100%;
}

.rodape-fim p {
    line-height:50px;
}