.fonte-padrao {
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;	
}

.tamanho16 {font-size:16px;}
.tamanho18 {font-size:18px;}
.tamanho20 {font-size:20px;}

.cor1 {color:#D01A1D;}